<template>
    <div class="container">
        <div class="col-md-10">
            <div class="form-area">  
                <form @submit.prevent="save" enctype="multipart/form-data" role="form">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Agregar noticia</h3>
    				<div class="form-group">
						<input type="text" v-model="form.tittle" class="form-control" id="name" name="name" placeholder="Título" required>
					</div>
					<div class="form-group">
						<input type="text" v-model="form.video_url" class="form-control" name="email" placeholder="Video url (opcional)">
					</div>
					<div class="form-group">
						<input type="file" @change="fileChange" class="form-control" accept="image/*" required>
					</div>
                    <div class="form-group">
                    <textarea v-model="form.content" class="form-control" type="textarea" id="message" placeholder="Contenido" rows="14"></textarea>
                    </div>
            
                    <button type="submit" name="submit" class="btn btn-default pull-right">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
import {post} from  '../helpers/api' 

export default {
    data(){
        return {
            form:{
                tittle: '',
                image: '',
                content: '',
                video_url: ''
            }
        }
    },
    methods:{
        save(){
            console.log("mmm")
            post('/api/noticia/nueva', this.form)
            .then((res) => {
                    console.log(res.data)
                    if(res.data.status == 200)
                    {
                        console.log('was created!')
                        this.$router.push('/') 
                    }
                    else
                    {
                        console.log(res.data.message)
                    }
                })
                .catch((err) => {
                    console.log(err)
                })

        },
        fileChange(e){
                var fileReader = new FileReader()
                fileReader.readAsDataURL(e.target.files[0])

                fileReader.onload = (e) => {
                    this.form.image = e.target.result
                }
        }
    }
}
</script>
