<template>
<div>
<div v-for="(noticias, i) in noticia">
    <div class="col-lg-6 col-md-6">
        <aside> 
            <img :src="getPic(i)" class="img-responsive">
            <div class="content-title">
                <div class="text-center">
                    <h3><a href="#">{{noticias.tittle}}</a></h3>
                </div>
            </div>
            <div class="content-footer">
                <button class="btn btn-default btn-sm" v-on:click="edit(i)">
                <i class="fa fa-cog"></i> Editar</button>
                <span class="pull-right">
                <button v-on:click="setIndex(i)" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-trash-o fa-lg"></i> Eliminar</button>
                </span>
            </div>  
        </aside>
    </div>
    
</div>
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmar</h4>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de que desea eliminar esta noticia?</p>
        </div>
        <div class="modal-footer">
            <button type="button" v-on:click="deleteNew()" class="btn btn-danger">Si</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
        </div>

    </div>
    </div>
</div>
</template>

<script type="text/javascript">

    import {get} from '../helpers/api'
    import {post} from '../helpers/api'

    export default {    
        data(){
            return{
                noticia:[],
                currentIndex: ''
            }
        },

        created(){
            get('/api/noticias')
            .then((res) => {
                console.log(res)
                this.noticia = res.data.noticias
            })
        },
        methods:{
            getPic(index){
                return this.noticia[index].image
            },
            deleteNew(){
                post('/api/noticia/'+this.noticia[this.currentIndex].id+'/eliminar')
                .then((res) => {
                    $('#myModal').modal('hide')
                    if(res.data.status == 200)
                    {
                        get('/api/noticias')
                        .then((res) => {
                            console.log(res)
                            this.noticia = res.data.noticias
                        })
                    }
                    else
                    {
                        console.log(res.data.message)
                    }
                })
            },
            setIndex(index){
                console.log("must delete "+index)
                this.currentIndex = index
            },
            edit(index){
                this.$router.push("/edit/"+this.noticia[index].id)
            }
        }
    }
</script>