<template>
    <div>
        <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" v-on:click="createNew()" class="btn btn-default pull-right">Nueva noticia</button>
                <a class="navbar-brand" href="#">Noticias</a>
            </div>
        </div>
        </nav>
        <!-- content -->
        <section id="blog-section" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <router-view></router-view>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of content -->
    </div>

</template>

<script>
export default {
    data(){

    },
    methods:{
        createNew(){
            this.$router.push('/crear')
        }
    }    
}
</script>
